[Desktop Entry]
Comment=
Terminal=true
Name=SBCL
Exec=rlwrap -H /dev/null /usr/local/bin/sbcl
Type=Application
Icon=/home/irocha/cl/art/SBCL-icon.jpg
Categories=Development;IDE;
